body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 20px;
    width: 100%;
    max-width: 95vw;
    margin: 0 auto;
}
.container > h1 {
    grid-column: 1 / -1;
    text-align: center;
}

/* Graphic properties for efficiency*/
#plot1 {
    width: 100%;
    height: 100%;
}

/* Graphic properties for total mean power loss*/
#plot2 {
    width: 100%;
    height: 100%;
}

/* Verstecke das Fadenkreuz und Popup */
.hovertext,
svg line[stroke*="rgb"],
.crosshair {
    display: none !important;
}

#dataWindow {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 600px;
    overflow: auto;
}

#dataWindow h2 {
    margin-top: 0;
    color: #333;
    font-size: 18px;
}

#dataContent {
    margin-top: 10px;
    font-size: 12px;
    /* line-height: 1.5; */
    line-height: 1;
}


/* Table setting */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Space to grid */
}

/* Table frame setting and style */
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.table-subtitle{
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: normal;
    display: inline;
    margin: 0;
}

button:disabled {
    background-color: #ccc;  /* gray color*/
    color: #666;             /* gray font */
    cursor: not-allowed;      /* Show forbidden cursor */
}

/* Red button property */
button.commandred {
    font-size: 30px;
    color: #fff;             /* White font*/
    background-color: #f11;
}

/* Red button property */
button.command {
    font-size: 30px;
}
